<nav class="navbar">
  <div class="nav-left">
    <a href="/">Insecure Forum</a>
  </div>
  <div class="nav-right">
    <a href="/feed">Feed</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>
</nav>