<nav class="navbar">
  <div class="nav-left">
    <a href="/">Estate General</a>
  </div>
  <div class="nav-right">
    <a href="/feed">The Chamber</a>
    <a href="/login">Return</a>
    <a href="/register">Begin</a>
    <a href="/logout">Begone</a>
  </div>
</nav>