{{!-- uses main layout --}}
{{!< layouts/main }}

<section class="home">
  <h1>Behold...</h1>
  <p>return once more, or begin anew</p>
  <div class="actions">
    <a href="/login" class="btn">return</a>
    <a href="/register" class="btn">begin</a>
  </div>
</section>