{{!< layouts/main }}

<section class="form-section">
  <h2>Login</h2>
  <form action="/login" method="POST">
    <label>Username:</label>
    <input type="text" name="username" required />
    
    <label>Password:</label>
    <input type="password" name="password" required />

    <button type="submit">admit</button>
  </form>
</section>
