{{!< layouts/main }}

<section class="dwellings">
  <h2>{{user.displayName}}'s Abode</h2>
  
  <p>Customization</p>

  {{#if customizationOptions}}
    <ul>
      {{#each customizationOptions}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>No customization options available.</p>
  {{/if}}

  <div class="account-actions">
    <button data-action="change-name">Change Display Name</button>
    <button data-action="change-password">Change Password</button>
    <button data-action="change-email">Change Email</button>
  </div>
</section>
