{{!< layouts/main }}

<section class="dwellings">
  <h2>User's Abode</h2>
  
  <p>Customization</p>
  <ul>
    <li>Rojo</li>
    <li>Verde</li>
    <li>Blue</li>
  </ul>

  <button>Change Display Name</button>
  <button>Change Password</button>
  <button>Change Email</button>

</section>